.icon-btn {
  background: none;
  border: none;
  border-radius: 10px;
  padding: 0 5px;
  cursor: pointer;
  margin: 0;
}

.icon-btn img {
  width: 56px;
  height: 56px;
  border: none;
  object-fit: cover;
  background-size: cover;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 64px;
}

.header-logo {
  height: 40px;
}

#hero {
  position: relative;
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
}

.hero-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  filter: brightness(0.8);
}

#hero-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hero-logo img {
  height: 240px;
}

.main-content {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.menu-area {
  flex: 1;
  min-width: 0;
}

.content-area {
  flex: 1;
}

.cart-sidebar {
  width: 300px;
  position: sticky;
  top: 80px;
  align-self: flex-start;
  padding: 20px;
  box-shadow: -3px 0 0px rgba(0, 0, 0, 0.05);
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  border-radius: 4px;
  color: white;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.hide-on-mobile {
  display: block;
}

.hide-on-desktop {
  display: none;
}

.restaurant-info {
  min-height: 102px;
}

.restaurant-description {
  display: flex;
  align-items: center;
  gap: 10px;
}

.review-logo {
  height: 24px;
}

.line {
  width: 100%;
  height: 1px;
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  margin: 10px 0;
}

.menu-sections {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.dish-image {
  width: 100%;
  height: 88px;
  border-radius: 4px;
  object-fit: cover;
}

.dish-category {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.dish-category h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.dish-item {
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.dish-item .btn {
  background-color: white;
  color: #ef4765;
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  font-size: 30px;
}

@media (max-width: 900px) {
  .hide-on-mobile {
    display: none;
  }

  .hide-on-desktop {
    display: block;
  }
}

.btn {
  background-color: white;
  color: #ef4765;
  border: 2px solid #ef4765;
  border-radius: 10px;
  padding: 4px 12px;

  transition: background 0.2s, color 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.btn:hover {
  background-color: #ef4765;
  color: white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}
