/* ===================================== */
/* 1. BASIS-EINSTELLUNGEN & GRUNDLAYOUT  */
/* ===================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Jura', sans-serif;
  font-weight: 300;
  text-shadow: 0.3px 0px 0.1px black;
}

h1,
h2,
h3 {
  font-family: 'Fredoka', sans-serif;
  font-weight: 400;
  padding: 8px 0 10px 0;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  background: white;
}

header {
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

footer {
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
}

a {
  text-decoration: none;
  color: inherit;
}

.section-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 30px;
}
/* ===================================== */
